html,body{
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body{
  background-color: #494949;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background{
  z-index: -1;
  position: absolute;
  width: 200%;
  height: 100%;

  background-color: #110012;
  background-image:url("../img/black-thread-light.png");
  animation: movebackground 20s linear infinite;
}
@keyframes movebackground {
  0%    { left: 0; }
  100%  { left: -100%; }
}

h1{color: white}
